#listaa {
        width: auto;
        float: left;
        margin: 5px;
}

#listee{
        width: auto;
        float: left;
        margin: 5px;
}

#listoo{
    width: auto;
    float: left;
    margin: 5px;

}